<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>508322904910-008jud0rhoa8jie79gemek9kf5lfa8gm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.508322904910-008jud0rhoa8jie79gemek9kf5lfa8gm</string>
	<key>API_KEY</key>
	<string>AIzaSyD__wLz-U3xnPgMIE7ed_KJRkwdIdbKmf8</string>
	<key>GCM_SENDER_ID</key>
	<string>508322904910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.superman.LoginAppTest</string>
	<key>PROJECT_ID</key>
	<string>loginapptest-28f03</string>
	<key>STORAGE_BUCKET</key>
	<string>loginapptest-28f03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:508322904910:ios:b013b86a4e572986</string>
	<key>DATABASE_URL</key>
	<string>https://loginapptest-28f03.firebaseio.com</string>
</dict>
</plist>